body{
    margin: 0;
    padding: 0;
    background-color: #222222;
}

.container{
    max-width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', 'sans-serif';
    background-color: #181818;
    color: #FFFFFF;
}

.header{
    background-color: #FA632A;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.header h1{
    text-transform: uppercase;
    text-align: center;
}

.body-container{
    padding: 5rem;
    align-items: center;
    justify-content: center;
}

.dtls-container{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

.info-row{
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.info-row img{
    border-radius: 50%;
    overflow: hidden;
    height: 10vw;
    width: 10vw;
    margin-bottom: 2rem;
}

.info-row2{
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 40%;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.btn-edit{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.btn-edit a{
    text-align: center;
    text-decoration: none;
    background: none;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px;
    width: 15%;
    padding: 5px;
    text-align: center;
    font-weight: 300;
    transition: 0.4s ease;
}

.btn-edit a:hover{
    color: #000000;
    border: solid 2px #FFFFFF;
    background-color: #FFFFFF;
    transition: 0.4s ease;
}

.name{
    font-weight: 600;
    font-size: 24px;
}

#header{
    font-weight: 600;
    font-size: 32px;
    color: #FA632A;
    padding-top: 4.5rem;
    padding-bottom: 4rem;
}

#border {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    border-top: 1px solid #b1b1b1ab;
  }


.form-container h1{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.form-container form{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.0rem;
}

.error-msg{
    color: #ff2a2a;
    text-align: center;
    line-height: 0.3;
}

.workout-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.workout-container form{
    width: 100%;
    justify-content: center;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.input-form2{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

input[type="text"]{
    font-family: 'Poppins', 'sans-serif';
    padding-right: 20px;
    max-width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 12px;
    display: inline-block;
    border: none;
    background: #c4c4c42f;
    color: #FFFFFF;
    font-size: 22px;
  }

  .select{
    font-family: 'Poppins', 'sans-serif';
    padding-right: 20px;
    max-width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 12px;
    display: inline-block;
    border: none;
    background: #c4c4c42f;
    color: #FFFFFF;
    font-size: 22px;
  }

  select option{
      color: white;
      background-color: #363535;
  }

  select option:disabled {
    color: gray;
    font-weight: bold;
}
 
  textarea[type="text"]{
    font-family: 'Poppins', 'sans-serif';
    padding-right: 20px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 12px;
    display: inline-block;
    border: none;
    background: #c4c4c42f;
    color: #FFFFFF;
    font-size: 22px;
  }

input[type="password"]{
    padding-right: 20px;
    width: 650px;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    padding: 8px;
    display: inline-block;
    border: none;
    background: #c4c4c42f;
    color: #FFFFFF;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
}

.registerbtn {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.registerbtn2 {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

input[type="submit"] {
    font-family: 'Poppins', 'sans-serif';
    font-size: 16px;
    border-radius: 2px;
    background-color: #e5e5e5a2;
    text-decoration: none;
    border: none;
    align-items: center;
    padding: 0.9rem;
    width: 60%;
    font-weight: 600;
    vertical-align: middle;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: white;
    background-color: #FA632A;
    transition: all 0.3s;
}

.btn-logout{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

.btn-logout a{
    text-align: center;
    text-decoration: none;
    background-color: #FA632A;
    border: solid 2px #FA632A;
    color: #FFFFFF;
    border-radius: 10px;
    width: 15%;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}

.btn-logout a:hover{
    transition: 0.2s ease-in;
    background-color: transparent;
    border: solid 2px #FA632A;
    color: #FFFFFF;
    font-weight: 500;
}

table{
    width: 100%;
    text-align: center;
    background-color: #6a6a6a38;
    padding: 1rem;
    color: #FFFFFF;
}

td{
    padding: 1rem;
}

td a{
    background-color: #e5e5e5a2;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    font-size: 14px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s ease;
}

td a:hover{
    background-color: red;
    color: #FFFFFF;
    transition: 0.4s ease;
}



